<div class="form-horizontal">
    <div class="form-group">
<h2>{{details.volumeInfo.title}}</h2>
        </div>

<div class="form-group">
<img width="200px" height="300px"
     ng-src="{{details.volumeInfo.imageLinks.thumbnail}}" class="pull-left"/>
</div>

<div class="form-group">
<p>
    {{details.volumeInfo.description}}
</p>
</div>
<div class="form-group">
<h3>Authors</h3>
<ul>
    <li ng-repeat="authorName in details.volumeInfo.authors">
        {{authorName}}
    </li>
</ul>
    </div>
    </div>

