<h1 class="title">Post Table</h1>
<div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table" style="background-color:beige">
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom">ID</span></th>
            <th><span class="glyphicon glyphicon-triangle-bottom">Title</span></th>
            <th><span class="glyphicon glyphicon-triangle-bottom">Writer</span></th>
            <th><span class="glyphicon glyphicon-triangle-bottom">Type</span></th>
            <th><span class="glyphicon glyphicon-triangle-bottom">Likes</span></th>
            <th><span class="glyphicon glyphicon-triangle-bottom">Actions</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <lable type="datetime"
                       ng-readonly="model.post._id"
                       ng-model="model.post._id"
                       placeholder="PostID"
                       id="id"
                       class="form-control">{{model.post._id}}</lable>
            </td>

            <td>
                <input type="text"
                       ng-model="model.post.title"
                       placeholder="Title"
                       id="title"
                       class="form-control">
            </td>
            <td>
                <input type="text"
                       ng-model="model.post.username"
                       placeholder="Writer"
                       id="writer"
                       class="form-control">
            </td>
            <td>
                <input type="text"
                       ng-model="model.post.type"
                       placeholder="Type"
                       id="type"
                       class="form-control">
            </td>
            <td>
                <input type="text"
                       ng-model="model.post.usersLiked"
                       placeholder="Likes"
                       id="likes"
                       class="form-control">
            </td>
            <td align="right">
                            <span class="glyphicon glyphicon-plus"
                                  ng-click="model.createPost(model.post)"></span>
                            <span  class="glyphicon glyphicon-ok"
                                   ng-click="model.updatePost(model.post)"></span>
            </td>
        </tr>
        <tr ng-repeat="post in model.postTable">
            <td>
                {{post._id}}
            </td>
            <td ng-click="model.viewPost(post)">
                <a>{{post.title}}</a>
            </td>
            <td ng-click="model.showWriter(post)">
                 <a>{{post.username}}</a>
            </td>
            <td>
                {{post.type}}
            </td>
            <td ng-click="model.showUsersLiked(post)">
                <a>{{post.usersLiked.length}}</a>
            </td>
            <td align="right">
                            <span  ng-click="model.deletePost(post)"
                                   class="glyphicon glyphicon-remove">
                            </span>
                            <span ng-click="model.selectPost($index)"
                                  class="glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>