<h1 class="title">Reviews On All Posts</h1>
<div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table" style="background-color:beige">
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>PostID</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>Title</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>Writer</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>Likes</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr>-->
            <!--<td>-->
                <!--<input type="text"-->
                       <!--ng-model="model.post._id"-->
                       <!--placeholder="PostId"-->
                       <!--id="post._id"-->
                       <!--class="form-control">-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="text"-->
                       <!--ng-model="model.post.title"-->
                       <!--ng-readOnly="model.post.title"-->
                       <!--placeholder="Title"-->
                       <!--id="title"-->
                       <!--class="form-control">-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="text"-->
                       <!--ng-model="model.post.username"-->
                       <!--placeholder="username"-->
                       <!--id="username"-->
                       <!--class="form-control">-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="number"-->
                       <!--ng-model="model.post.rating"-->
                       <!--placeholder="Rating"-->
                       <!--id="rating"-->
                       <!--class="form-control">-->
            <!--</td>-->
            <!--<td align="right">-->
                            <!--<span class="glyphicon glyphicon-plus"-->
                                  <!--ng-click="createReview(review)"></span>-->
                            <!--<span  class="glyphicon glyphicon-ok"-->
                                   <!--ng-click="updateReview(review)"></span>-->
            <!--</td>-->
        <!--</tr>-->
        <tr ng-repeat="review in model.reviewTable">
            <td>
                {{review.postId}}
            </td>
            <td ng-click="model.viewPost(review)">
                <a>{{review.title}}</a>
            </td>
            <td ng-click="model.showWriter(review)">
                <a>{{review.username}}</a>
            </td>
            <td ng-click="model.showUsersLiked(review)">
               <a>{{review.usersLiked}}</a>
            </td>
            <!--<td align="right">-->
                            <!--<span  ng-click="deleteReview(review)"-->
                                   <!--class="glyphicon glyphicon-remove">-->
                            <!--</span>-->
                            <!--<span ng-click="selectReview($index)"-->
                                  <!--class="glyphicon glyphicon-pencil"></span>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>