            <h1 class="title">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="forms.view.html">Forms</a></li>
                <li role="presentation"><a href="form-fields.view.html">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Form Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text"  ng-model="formName" placeholder="name" class="form-control">
                        </td>
                        <td align="right">
                            <button type="button" ng-click="addForm()" class="btn btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" ng-click= "selectForm()" class="btn btn-xs">
                            <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Registeration Form</lable>
                        </td>
                        <td align="right">
                            <button type="button" ng-click="deleteForm()" class="btn btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" ng-click="updateForm()" class="btn btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Contact List</lable>
                        </td>
                        <td align="right">
                            <button type="button" ng-click="deleteForm()" class="btn btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" ng-click="updateForm()" class="btn btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <lable>To Do List</lable>
                        </td>
                        <td align="right">
                            <button type="button" ng-click="deleteForm()" class="btn btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" ng-click="updateForm()" class="btn btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
