            <h1 class="title">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation"><a href="/#form-fields">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Form Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text"  placeholder="name" class="form-control">
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Registeration Form</lable>
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Contact List</lable>
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <lable>To Do List</lable>
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
