<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        -->
<!-- this page has only the heading and the content for home page rest of the information is included in the index page-->
<h1 class="sub-header">Welcome Writers</h1>
<p1>
       Reading and Writing is everyone’s hobby. We all have written stories, poems at some point in our lives and some of them were really good! We kept such writing work in our collection. But a lot of these good stories are just kept in our diaries and unfortunately are not available to the world for reading. While for some of us its just a hobby, some of us are really blessed with the talent of writing but their work is still limited to only people they know. There are so many of us out there who love writing and aspire to become great writers. People who write short stories,  poets, scriptwriters or stand-up comedy material who constantly are searching for places where they can get their work reviewed and get some opinion on their material.They go to comedy clubs, blog or  collaborate with other artists and practice their work, experiment it on their friends, share it through facebook and other social networking sites.
</p1>

<p2>
       Writer’s club  is a web application that gives an opportunity to anyone who wants to read or write. It gives a common platform to writers to keep an online journal of their writing work, share it with others, get their work appreciated by likes, get their work reviewed by others with comments and some suggestions on how it can be improved. It also provides the feature for communicating with other writers, following other users and reading more of their stuff. It gives you a greater platform where you can reach other people apart from your friends. It gives you a assorted audience who has similar interests and passion for writing just as you have. This gives you a chance to meet people who might be a better judge on what you created and critique it to make improvement. It helps you writers as a community to enjoy, learn and grow together.
</p2>

<p3>
       Writer’s club is like an online pool for writers. Here interested people can write and save their work,tag your work with appropriate tags like story, play, poem etc., delete some piece of work, share the work with other writers by making it public for reading, collaborate and work together, follow other users to stay connected to them, read other’s work that is public, rate it, comment on it.  The application also runs in one other role i.e. the admin role. Admin has special powers to manage the application, he can manage the users, their follows, the likes and comments on writing, it has powers such as for deleting a comment a user made on someone’s work and deleting the users from the database of the application altogether.
</p3>

