
.glyphicon {
    font-size: 25px;
    }

.form-horizontal .control-label{
    text-align: left;
}

.navbar-fixed-top {
    color: #444444;
}

.navbar .nav > li > a{
    font-family: "Times New Roman";
    font-size: 20px;
}


body{
    background-image: url("http://orig08.deviantart.net/4aaf/f/2007/271/0/e/parchment_paper_texture_by_sinnedaria.jpg");
}


.sidebar{
    background-color: khaki;
}

.sidebar .fa{
    color:burlywood;
}

.textarea{
    width: 100%;
    height:100%;
}


body{
    font-family: "cursive";
    font-size: 20px;
    color: darkgreen;
}

body{
    padding-left: 50px;
    padding-right: 50px;
}

textarea{
    background-color: lemonchiffon;
}


.nav-sidebar > .active > a{
    background-color : #428bca;
}

/*img{*/
    /*width: 45%;*/
    /*height: 70%;*/
/*}*/

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: burlywood;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: navajowhite;
}


