<h2>Search</h2>
<form  class="form-horizontal">
    <div class="form-group">
        <input ng-model="title" class="form-control"/>
    </div>
    <div class="form-group">
        <button ng-click="search(title)" class="btn btn-primary btn-block">
            Search
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped"  class="form-control">
            <thead>
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books">
                <td>
                    {{book.volumeInfo.title}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
