<!-- myDocuments.view.html-->
<h1>My Documents</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>
                Post</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>
                Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="document in myDocuments">
            <td>
                <a href="#/viewDocument">{{document.title}}</a>
            </td>
            <td>
                {{document.rating}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
