<!-- sidebar.view.html-->
<div class="row" ng-controller="SidebarController">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active': $locationUrl().indexOf('home') >= 0}">
                <a href="#/home">
                    <span class="glyphicon glyphicon-home"></span>
                </a></li>

            <li ng-show="currentUser"
                ng-class="{'active': $locationUrl().indexOf('profile') >= 0}">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a></li>

            <li ng-show="currentUser"
                ng-class="{'active': $locationUrl().indexOf('editPost') >= 0}">
                <a  href="" ng-click="createPost()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a></li>

            <li ng-show="currentUser"
                ng-class="{'active': $locationUrl().indexOf('myPosts') >= 0}">
                <a href="#/myPosts">
                    <span class="glyphicon glyphicon-lock"></span>
                </a></li>

            <li ng-class="{'active': $locationUrl().indexOf('publicPosts') >= 0}">
                <a href="#/publicPosts">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                </a></li>

            <li ng-class="{'active': $locationUrl().indexOf('search') >= 0}">
                <a href="#/search">
                    <span class="glyphicon glyphicon-search"></span>
                </a></li>

            <!-- table views-->
            <li ng-class="{'active': $locationUrl().indexOf('postTable') >= 0}">
                <a href="#/postTable">PostTable</a></li>
            <li ng-class="{'active': $locationUrl().indexOf('userTable') >= 0}">
                <a href="#/userTable">UserTable</a></li>
            <li ng-class="{'active': $locationUrl().indexOf('reviewTable') >= 0}">
                <a href="#/reviewTable">ReviewTable</a></li>
            <li ng-show="currentUser.roles.indexOf('admin')>=0"
                ng-class="{'active': $locationUrl()==='/admin'}">
                <a href="#/admin">Admin</a></li>
        </ul>
    </div>
</div>
