<!-- sidebar.view.html-->
<div class="row" ng-controller="SidebarController">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active': $locationUrl().indexOf('home') >= 0}">
                <a href="#/home">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </a></li>

            <li ng-show="currentUser"
                ng-class="{'active': $locationUrl().indexOf('profile') >= 0}">
                <a href="#/profile">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                </a></li>

            <li ng-show="currentUser"
                ng-class="{'active': $locationUrl().indexOf('editPost') >= 0}">
                <a  href="" ng-click="createPost()">
                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                </a></li>

            <li ng-show="currentUser"
                ng-class="{'active': $locationUrl().indexOf('myPosts') >= 0}">
                <a href="#/myPosts">
                    <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                </a></li>

            <li ng-class="{'active': $locationUrl().indexOf('publicPosts') >= 0}">
                <a href="#/publicPosts">
                    <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </a></li>

            <li ng-class="{'active': $locationUrl().indexOf('search') >= 0}">
                <a href="#/search">
                    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                </a></li>

            <!-- adminViews views-->
            <li ng-show="currentUser.roles.indexOf('admin')>=0"
                ng-class="{'active': $locationUrl()=='/admin'}">
                <a href="#/admin">Admin</a></li>
        </ul>
    </div>
</div>
