<!-- publicPosts.view.html-->
<h1>Public Posts</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>
                Post</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>
                Writer</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>
                Likes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in model.publicPosts">
            <td>
               <a ng-click="model.viewPost(post)">
                   {{post.title}}
               </a>
            </td>
            <td>
                <a ng-click="model.showWriter(post)">
                    {{post.username}}
                </a>
            </td>
            <td>
                <a ng-click="model.showUsersLiked(post)">
                    {{post.usersLiked.length}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
