<!--viewPost.view.html-->
<div class="form-horizontal">
    <div>
        <ul>
            <button ng-click="model.viewPost(model.post)">
                <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
            </button>
            <button ng-show="model.isCurrentUser"
                    ng-click="model.selectPost(model.post)">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            </button>
            <button ng-click="model.likeUnlikePost(model.post, model.currentUser)">
                <!-- <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>-->
                {{model.post.likeState}}
            </button>
        </ul>
    </div>

    <div class="form-group" class="form-control">
        <h1>
            <label class="col-sm-12" id="title"
                   ng-model="model.post.title" class="form-control">
                {{model.post.title}}
            </label>
        </h1>
    </div>
    <div class="form-group" align="center">
         <textarea id="post"
                   ng-model="model.post.content"
                   ng-readonly="model.post.content"
                   rows="30" cols="80">
             {{model.post.content}}
         </textarea>
    </div>
    <div>
        <lable ng-click="model.showUsersLiked(model.post)">
           <a>
               {{model.post.usersLiked.length}} Likes
           </a>
        </lable>
    </div>
    <!--<div>-->
        <!--<tr>-->
        <!--<td>-->
        <!--<lable class="col-sm-2">-->
          <!--Comment:-->
        <!--</lable>-->
        <!--</td>-->
        <!--<td>-->
            <!--<input type="text" id="comment" ng-model="model.post.comment"-->
               <!--placeholder="Hey! how did you like it? ... any comments??" class="col-sm-8">-->
            <!--</td>-->
        <!--<td align="right">-->
        <!--<button class="bn btn-primary" class="col-sm-2"-->
                <!--ng-click="model.addCommentToPost(model.post.comment)">-->
            <!--Comment-->
        <!--</button>-->
        <!--</td>-->
        <!--</tr>-->
    <!--</div>-->
 </div>