<!--viewPost.view.html-->
<div class="form-horizontal">
    <div align="center">
        <ul>
            <button ng-click="model.viewPost(model.post)">
                <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
            </button>
            <button ng-show="model.isCurrentUser"
                    ng-click="model.selectPost(model.post)">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            </button>
            <button ng-click="model.likeUnlikePost(model.post, model.currentUser)">
                <!-- <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>-->
                {{model.post.likeState}}
            </button>
        </ul>
    </div>

    <div class="form-group" class="form-control" align="center">
        <h1>
            <label class="col-sm-12" id="title"
                   ng-model="model.post.title" class="form-control">
                {{model.post.title}}
            </label>
        </h1>
    </div>
    <div class="form-group" align="center">
         <textarea id="post"
                   ng-model="model.post.content"
                   ng-readonly="model.post.content"
                   rows="24" cols="80">
             {{model.post.content}}
         </textarea>
    </div>
    <div>
        <button ng-click="model.showUsersLiked(model.post)"
                class="btn btn-primary" align="center">
               {{model.post.usersLiked.length}} Likes
        </button>
    </div>
    <div>
        </br>
    <tr>
        <td>
            <input type="text" id="comment" ng-model="model.comment"
                   placeholder="Hey! how did you like it? ... any comments??" class="col-sm-8">
        </td>
        <td align="right" class="col-sm-2">
            <button class="bn btn-success"
                    ng-click="model.addCommentToPost(model.comment)">
                Comment
            </button>
        </td>
    </tr>
    </div>
    <div>
        <div>
            </br>
            <lable>
                Comments:
            </lable>
        </div>
        <div>
            <br>
        <ul ng-repeat="comment in model.commentsRetrieved">
            <td>
            <textarea class="col-sm-10" ng-readonly="model.commentsRetrieved" rows="2">
                {{comment}}
            </textarea>
            </td>
            <td>
            <div>
            <button class="btn btn-danger" class="col-sm-2"
                    ng-show="model.currentUser.roles.indexOf('admin')>=0"
                    ng-click="model.deleteComment(comment)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            </div>
            </td>
        </ul>
        </div>
    </div>
</div>