            <h1 class="title">Admin</h1>
            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text"
                                   placeholder="username"
                                   class="form-control"
                                   ng-model="username">
                        </td>
                        <td>
                            <input type="text"
                                   placeholder="password"
                                   class="form-control"
                                   ng-model="password">
                        </td>
                        <td>
                            <input type="text"
                                   placeholder="role1, role2"
                                   class="form-control"
                                   ng-model="role">
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>alice</lable>
                        </td>
                        <td>
                            <label></label>
                        </td>
                        <td>
                            <lable>student</lable>
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>bob</lable>
                        </td>
                        <td>
                            <label></label>
                        </td>
                        <td>
                            <lable>faculty | admin</lable>
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>charlie</lable>
                        </td>
                        <td>
                            <label></label>
                        </td>
                        <td>
                            <lable></lable>
                        </td>
                        <td align="right">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
