<!-- header.view.html-->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Writers Club</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active': $locationUrl().indexOf('search') >= 0}">
                    <a href="#/search"><i class="fa fa-search fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li ng-hide="currentUser"
                    ng-class="{'active': $locationUrl().indexOf('/register')>= 0}">
                    <a href="#/register">Register</a></li>
                <li ng-hide="currentUser"
                    ng-class="{'active': $locationUrl().indexOf('/login') >= 0}">
                    <a href="#/login">Login</a></li>
                <li ng-show="currentUser">
                   <a href="" ng-click="logout()">Logout</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active': $locationUrl().indexOf('editPost') >= 0}">
                    <a  href="" ng-click="createPost()">AddPost</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active': $locationUrl().indexOf('/myPosts') >= 0}">
                    <a href="#/myPosts">My Posts</a></li>
                <li ng-class="{'active': $locationUrl().indexOf('/publicPosts') >= 0}">
                    <a href="#/publicPosts">Public Posts</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active': $locationUrl().indexOf('/profile') >= 0}">
                    <a href="#/profile">{{currentUser.username}}</a></li>
            </ul>
        </div>
    </div>
</nav>

